body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-image: url("../src/images/b-color3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
header{
  background-color: #404143;
  padding: 50px 20px 0 20px;
  width: 100%;
}
.ctn-body{
  background-color: #62ACB0;
  height: 93vh;
  background-image: url("../src/images/b-color6.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.ctn-body1{
  background-color: #62ACB0;
  height: 160px;
}
.ctn-title{
  padding-top: 10vh;
}
.ctn-title1{
  padding-top: 5%;
}
.nav-color{
  background-color: rgba(64, 65, 67, 0.8);
}
.nav-color1{
  background-color:rgba(64, 65, 67, 0.8);
}
.nav-color1 a{
  color: #ffffff;
}
.nav-color a{
  color: #ffffff;
}
.nav-color a:hover {
  color: #62ACB0;
  text-decoration: underline;
}
.menu, .rrss{
  color: #ffffff;
  width: 35px;
  height: 35px;
}
.color-menu{
  background-color: rgba(64, 65, 67, -0.2);
}
.title{
  color: #ffffff;
  font-family: 'Amaranth', sans-serif;
  font-size: 30px;
  font-weight: 600;
  /* line-height: 14px; */
  margin-bottom: 0;
  text-align: center;
}
.sub-title{
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.image-sam{
  width: 46vw;
  height: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  top: 30.89%;
  bottom: 53.18%;
}
.ctn-img{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.image-sam1{
  width: 100px;
  height: auto;
  position: absolute;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  left: 36%;
  right: 25.87%;
  top: 1%;
  bottom: 53.18%;
}
.fixed-top1{
  z-index: 100;
}

.btn-conoceme{
  /* position: absolute; */
  width: 23vh;
  height: 50px;
  left: 111px;
  top: 436px;
  border-radius: 8px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #62ACB0;
  background-color: #ffffff;
  font-weight: 600;
  font-size: 1em;
}
.btn-conoceme:hover{
  background-color: #26686c;
  color: #ffffff;
}

footer{
  background-color: #404143;
  width: 100%;
  bottom: 0;
  height: 98px;
  justify-content: space-between;
  padding: 30px 20px 20px 20px;
  position: fixed;
}
footer h1{
  color: #ffffff;
  font-size: 20px;
  font-weight: 800;
  line-height: 14px;
  margin-bottom: 0;
}
footer h3{
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  margin-top: 10px;
}
/* Error */
.error{
  background-color: #ffffff;
}
.img-error{
  width: 100%;
  height: 519px;
  padding: 65px 10px 65px;
}

.btn-contact{
  position: relative;
  width: 151px;
  height: 50px;
  margin-top: 20px;
  border-radius: 8px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #62ACB0;
  background-color: #ffffff;
  font-weight: 600;
}
.btn-contact:hover{
  background-color: #26686c;
  color: #ffffff;
}
label {
    display: inline-block;
    margin-bottom: 0;
}
.form-control{
  margin-bottom: 3%;    
  background-color: #62ACB0;
  border: 0;
  border-bottom: 1px solid #ffffff;
}
.form-control:focus{
  background-color: #62ACB0;
}
.form-control:active{
  background-color: #62ACB0;
}
.title-second{
  margin-top: 20px;
  padding: 0 20px;
  margin-top: 20px;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  justify-content: right;
}
.title-second p{
  margin-bottom: 0;
  font-size: 0.9375em;
  color: #73808D;
  font-weight: 800;
  text-align: left;
}

@media (min-width: 1440px) and (max-width: 2560px) {
.image-sam{
  width: 20vw;
}
.title{
  font-size: 60px;
}
.sub-title{
  font-size: 30px;
}
.container,
.container-contact, .contact{
  margin-top: 0;
  margin: auto;
  width: 60vw;
  font-size: 1.3em;
}
}
