.btn-descarga{
    width: 151px;
    height: 50px;
    border-radius: 8px;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: #62ACB0;
    background-color: #ffffff;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32%;
}
.quote{
    margin-top: 10%;
    color: #ffffff;
    font-style: italic;
    text-align: center;
}