.carousel-caption{
  background-color: rgba(98, 172, 176, 0.8);
  position: absolute;
  right: 13%;
  bottom: 48px;
  left: 13%;
  z-index: 10;
  padding-bottom: 20px;
  color: #fff;
  text-align: initial;
  padding: 10px;
}
.c-color{
  background-color: rgba(98, 172, 176, 0.8);
  color: #fff;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  height: 195px;
}
.carousel-caption p {
 line-height: 1.2rem;
 margin-bottom: 0;
}
.carousel-caption h5 {
  text-align: center;
}
.img-carousel{
  padding: 13%;
}
.carousel-indicators li{
  background-color: #62ACB0;
}
.container-carousel{
  margin: auto;
  width: 70vw;
  font-size: 1.2em;
  height: 50vh;
}
.c-desktop{
  display: none;
}
a:hover{
  color: #fff;
}
@media (min-width: 1440px) and (max-width: 2560px) {
  .c-desktop{
    display: block;
  }
  .c-mobile{
  display: none;
}
}