.img-sam{
  width: 18vh;
  height: auto;
  position: absolute;
  left: 34.4%;
  right: 34.4%;
  top: 23.64%;
  bottom: 56.31%;
  z-index: 99;
}
.mt-4, .my-4 {
    margin-top: 0rem!important;
}
.title-contact{
  margin-top: 20px;
  padding: 0 20px;
}
.title-contact p{
  margin-top: 60px;
  margin-bottom: 0;
  font-size: 3vh;
  color: #73808D;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}
.text-contact{
  color: #ffffff;
  font-size: 2.1vh;
  font-weight: 600;
  margin-left: 10px;
  font-family: 'Montserrat', sans-serif;
}
.ctn-contact{
  display: flex;
  margin-bottom: 20px;
}
.container-contact{
  width: 334px;
  padding-top: 71px;
  width: 335px;
  height: auto;
  text-align: center;
  justify-content: center;
  position: absolute;
  margin-bottom: 120px;
  top: 32%;
}
.btn-descarga{
  width: 23vh;
  height: 50px;
  border-radius: 8px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #62ACB0;
  background-color: #ffffff;
  font-weight: 600;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: auto;
  font-size: 1em;
}
.btn-descarga:hover{
  background-color: #26686c;
  color: #ffffff;
}