.container-icon{
    text-align: center;
    padding: 5%;
}
.container-icon p {
    color: #ffffff;
}
.icon-skills{ 
    color: #ffffff;
    font-size: 6vh;
}
.container-tecnicals{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}